.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather-md {
  width: 18px;
  height: 18px;
}

.feather-lg {
  width: 30px;
  height: 30px;
  stroke-width: 1;
}