.select2-selection--multiple {
    border: $border-width solid $input-bg!important;
    border-radius: $border-radius-lg!important;
    padding: 7px 1.5rem;
    min-height: 64px!important;
    display: flex !important;
    align-items: center;
}

.select2-selection__rendered {
    padding: 0!important;
    .select2-search__field {
        margin-top: 0!important;
        font-size: 18px !important;
        padding: 9px 0 !important;
    }
    .select2-selection__choice {
        margin-top: 2.5px !important;
        margin-bottom: 2.5px !important;
        border-radius: $border-radius!important;
        font-size: $font-size-sm!important;
        padding: 6px 16px!important;
        background-color: $gray-300!important;
        color: $gray-900;
        border-color: $gray-300!important;   
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        font-weight: $font-weight-medium;
    }
}

.select2-selection__choice__remove {
    float: right;
    margin-left: 5px;
    margin-right: 0;
    line-height: 1;
    padding-top: 3px;
}

.select2-container--default {
    .select2-results__option[aria-selected=true] {
        background-color: $white!important;
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: $primary !important;
    }
    .select2-selection--multiple {
        background-color: $input-bg!important;
    }
    &.select2-container--disabled {
        .select2-selection--multiple {
            background-color: $form-select-disabled-bg !important;
        }
    }
}

.select2-dropdown {
    overflow: hidden;
    border-radius: $border-radius-lg !important;
    border: $border-width solid $border-color !important;
    .select2-results__option {
        padding:.75rem !important;
        border-bottom:  $border-width solid $border-color !important;
    }    
}