.user-profile {
    //min-height: 272px;
    position: relative;
    .btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.avator {
    width: 48px;
    max-width: 48px;
    min-width: 48px;
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    position: relative;
}

.avator-md {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    position: relative;
}

.select-company-logo {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    max-height: 30px;
    min-height: 30px;
}