.form-control-lg {
   border-radius: $border-radius-sm; 
   box-shadow: none;
}

.form-control-search {
   padding-left: 55px;
   background-image: url('../img/search.svg');
   background-position: -34px center;
   background-size: 16px 16px;
   background-repeat: no-repeat;
   background-origin: content-box;
   box-shadow: none;   
}

.form-select,
.form-control {
   box-shadow: none;
}