.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather-sm {
    width: 14px;
    height: 14px;
}

.feather-md {
  width: 16px;
  height: 16px;
}