.navbar {
    @include media-breakpoint-up(lg) {
        padding-left: 1.875rem; // 30px
        padding-right: 1.875rem;
    }
    @include media-breakpoint-down(lg) {
        border-bottom: 1px solid $border-color;
    }
}
.nav-pills {
    .nav-item {
        margin-right: $spacer;
        @include media-breakpoint-up(xxl) {
            margin-right: $spacer * 3.5;
        }
        @include media-breakpoint-up(xxxl) {
            margin-right: $spacer * 4;
        }
        @include media-breakpoint-up(xxxxl) {
            margin-right: $spacer * 4.35;
        }
    }
    .nav-link {
        @include media-breakpoint-up(xxxxl) {
            font-size: $h5-font-size;
        }
        color: $gray-600;
        padding: $nav-link-padding-y 0;
        &:active,
        &.active {
            border-bottom: 2px solid $nav-pills-link-active-color;
        }
    }
}

.link-icon-del {
    color: $gray-600;
    &:focus,
    &:hover {
        color: $red;
    }
}