$background-color: #fff;
$content-color: #F0F2F5;

$border-radius:            8px; // 8px
$border-radius-sm:         4px; // 4px

.loading {
    position: relative;
    overflow: hidden;
    &.card-image {
      border-radius: 0;
    }
    
    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .6), transparent);
      animation: loading 1.5s infinite;
    }
  }
  
  @keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }

.rounded-0 {
    border-radius: 0!important;
}

.img-rounded {
    border-radius: $border-radius-sm;
}

.h3-content {
    background-color: $content-color;
    height: 17px;
}

.p-content {
    background-color: $content-color;
    height: 10px;
}

.bg-content {
    background-color: $content-color;
}

.h3-content-lg {
    background-color: $content-color;
    height: 30px;
}

.text-content-sm {
    background-color: $content-color;
    height: 12px;
}

.text-content {
    background-color: $content-color;
    height: 14px;
}

.text-content-lg {
    background-color: $content-color;
    height: 16px;
}

.text-content-xl {
    background-color: $content-color;
    height: 18px;
}

.text-content-xxl {
    background-color: $content-color;
    height: 23px;
}

.text-content-xxxl {
    background-color: $content-color;
    height: 30px;
}

.two-line-text-content {
    background-color: $content-color;
    height: 3em;
}

.three-line-text-content {
    background-color: $content-color;
    height: 4.5em;
}

.logo {
    background-color: $content-color;
    height: 37px;
    width: 230px;
}

//
.round {
    width: 40px;
    height: 40px;
    background-color: $content-color;
    border-radius: 100% !important;
}

.round-sm {
    width: 30px;
    height: 30px;
    background-color: $content-color;
    border-radius: 100%;
}

.round-md {
    width: 48px;
    height: 48px;
    background-color: $content-color;
    border-radius: 100%;
}

.round-lg {
    width: 70px;
    height: 70px;
    background-color: $content-color;
    border-radius: 100%;
}

.round-icon {
    width: 24px;
    height: 24px;
    background-color: $content-color;
    border-radius: 100%;
}

//
.mw-10 {
    min-width: 10px;
}

.mw-20 {
    min-width: 20px;
}

.mw-30 {
    min-width: 30px;
}

.mw-40 {
    min-width: 40px;
}

.mw-50 {
    min-width: 50px;
}

.mw-60 {
    min-width: 60px;
}

.mw-80 {
    min-width: 80px;
}

.mw-100 {
    min-width: 100px;
}

.mw-120 {
    min-width: 120px;
}

.mw-140 {
    min-width: 140px;
}

.mw-160 {
    min-width: 160px;
}

.mw-180 {
    min-width: 180px;
}

//
.h-50 {
    height: 50px !important;
}

.h-100 {
    height: 100px !important;
}

.h-150 {
    height: 150px;
}

.h-200 {
    height: 200px;
}

.h-250 {
    height: 250px;
}

.h-300 {
    height: 300px;
}

.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background-color: $content-color;
    border-radius: $border-radius-sm;
}

.avatar-lg {
    width: 64px;
    min-width: 64px;
    height: 64px;
    background-color: $content-color;
    border-radius: $border-radius;
}

.avatar-xl {
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: $content-color;
    border-radius: $border-radius;
}

.input {
    width: auto;
    height: 40px;
    background-color: $content-color;
    border-radius: $border-radius-sm;
}

.input-text-area {
    width: auto;
    height: 80px;
    background-color: $content-color;
    border-radius: $border-radius-sm;
}

.skeleton-title {
    background-color: $background-color;
    height: 44px;
    width: 300px;
}

.skeleton-search {
    background-color: $background-color;
    height: 44px;
    width: 385px;
}

.skeleton-search-custom {
    background-color: $content-color;
    height: 44px;
    width: 100%;
    border-radius: $border-radius;
}