[submodule "contracts/evm/lib/gsn"]
	path = contracts/evm/lib/gsn
	url = https://github.com/opengsn/gsn
[submodule "contracts/evm/lib/openzeppelin-contracts"]
	path = contracts/evm/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts-v2/evm/lib/forge-std"]
	path = contracts-v2/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
