
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea
.idea/*

cdn/node_modules
cdn/scss

conf/config.inc.php
conf/app.constants.inc.php

.idea/workspace.xml
.htaccess
