
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
 .idea/*

cdn
cdn/*

conf/config.inc.php
conf/app.constants.inc.php

core
core/*

.idea/workspace.xml