
# Elastic Beanstalk Files
app/.elasticbeanstalk/*
!app/.elasticbeanstalk/*.cfg.yml
!app/.elasticbeanstalk/*.global.yml
.idea
.idea/*

app/cdn/node_modules
#app/cdn/scss
app/cdn/js/intercom-style.js

app/conf/config.inc.php
app/conf/app.constants.inc.php

app/.idea/workspace.xml
app/.htaccess
