files:  
  "/etc/httpd/conf.d/vhosts.conf": 
     mode: "000644"
     owner: root
     group: root
     content: |

      <VirtualHost *:80>
        RewriteEngine On
        RewriteRule ^(cdn|assets) - [L]
        RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD|DELETE)$
        RewriteRule .* - [F]
        RewriteRule ^(.*)$ /index.php?route=$1 [L,QSA]
      </VirtualHost>

      <VirtualHost *:443>
        RewriteEngine On
        RewriteRule ^(cdn|assets) - [L]
        RewriteCond %{REQUEST_METHOD} !^(GET|POST|HEAD|DELETE)$
        RewriteRule .* - [F]
        RewriteRule ^(.*)$ /index.php?route=$1 [L,QSA]
      </VirtualHost>

files:
 "/etc/httpd/conf.d/http-redirect.conf":
     mode: "000644"
     owner: root
     group: root
     content: |

      <VirtualHost *:80>
        RewriteEngine On
        RewriteCond %{HTTP:X-Forwarded-Proto} !https
        RewriteCond %{HTTP_USER_AGENT} !ELB-HealthChecker
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
      </VirtualHost>

      <VirtualHost *:443>
        RewriteEngine On
        RewriteCond %{HTTP:X-Forwarded-Proto} !https
        RewriteCond %{HTTP_USER_AGENT} !ELB-HealthChecker
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
      </VirtualHost>